In [4]:
print('hello')

hello

In [1]:
print(1+1)

2

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

In [4]:
s='hi i am vaibhav here from surodi'
arr=s.split()
print(arr)

['hi', 'i', 'am', 'vaibhav', 'here', 'from', 'surodi']

In [12]:
wc,cc=0,0
for i in arr:
    wc+=1
    for j in i:
        cc+=1

In [13]:
print(wc)
print(cc)

7
26

In [17]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [19]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [21]:
df

          W         X         Y         Z
A -0.975287  2.252791  0.080056  1.464845
B -1.964601  1.148243 -0.095455 -1.624355
C -0.205124 -0.837525 -0.437415  0.238888
D -1.138062 -0.294466 -0.433870 -1.357859
E -0.526666  0.272274 -0.609986  0.073465

In [40]:
df['A']=[1,2,3,4,5]

In [41]:
df

          W         X         Y         Z  A   A
A -0.975287  2.252791  0.080056  1.464845  1   1
B -1.964601  1.148243 -0.095455 -1.624355  2   2
C -0.205124 -0.837525 -0.437415  0.238888  3   3
D -1.138062 -0.294466 -0.433870 -1.357859  4   4
E -0.526666  0.272274 -0.609986  0.073465  5   5

In [2]:
df.drop('A',axis=1)

NameError: name 'df' is not defined

In [50]:
df.drop('A',axis=1,inplace=True)

In [51]:
df

          W         X         Y         Z
A -0.975287  2.252791  0.080056  1.464845
B -1.964601  1.148243 -0.095455 -1.624355
C -0.205124 -0.837525 -0.437415  0.238888
D -1.138062 -0.294466 -0.433870 -1.357859
E -0.526666  0.272274 -0.609986  0.073465

In [65]:
df=pd.DataFrame(randn(6,5),['A','B','C','D','E','F'],['V','W','X','Y','Z'])

In [67]:
df

          V         W         X         Y         Z
A  0.224483  1.999188  0.056745  0.208089  0.742793
B  0.265821 -0.314224 -2.225783 -0.178526 -0.907473
C -0.225564  0.078576 -0.115993  0.844301  0.699767
D -0.354316  2.087447  0.909657  0.056068 -0.725423
E -0.568677 -0.638476 -0.235119  0.298654  0.310298
F  0.207481  0.493432 -0.797797  0.281480  0.184909

In [68]:
df>0

       V      W      X      Y      Z
A   True   True   True   True   True
B   True  False  False  False  False
C  False   True  False   True   True
D  False   True   True   True  False
E  False  False  False   True   True
F   True   True  False   True   True

In [69]:
bool=df>0

In [70]:
bool

       V      W      X      Y      Z
A   True   True   True   True   True
B   True  False  False  False  False
C  False   True  False   True   True
D  False   True   True   True  False
E  False  False  False   True   True
F   True   True  False   True   True

In [71]:
df[bool]

          V         W         X         Y         Z
A  0.224483  1.999188  0.056745  0.208089  0.742793
B  0.265821       NaN       NaN       NaN       NaN
C       NaN  0.078576       NaN  0.844301  0.699767
D       NaN  2.087447  0.909657  0.056068       NaN
E       NaN       NaN       NaN  0.298654  0.310298
F  0.207481  0.493432       NaN  0.281480  0.184909

In [75]:
seri=df['V']>0

In [76]:
seri

A     True
B     True
C    False
D    False
E    False
F     True
Name: V, dtype: bool

In [77]:
df[seri]

          V         W         X         Y         Z
A  0.224483  1.999188  0.056745  0.208089  0.742793
B  0.265821 -0.314224 -2.225783 -0.178526 -0.907473
F  0.207481  0.493432 -0.797797  0.281480  0.184909