In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

   32.502345269453031  31.70700584656992
0           53.426804          68.777596
1           61.530358          62.562382
2           47.475640          71.546632
3           59.813208          87.230925
4           55.142188          78.211518

In [8]:
df.columns=['X','Y']

In [9]:
df

            X          Y
0   53.426804  68.777596
1   61.530358  62.562382
2   47.475640  71.546632
3   59.813208  87.230925
4   55.142188  78.211518
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [10]:
X = df['X']
y = df['Y']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.6, random_state=18)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lm =LinearRegression()

In [15]:
lm.fit(X_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[47.48120861 42.43647694 56.86890066 50.55676015 44.50253806 59.81320787
 41.18201611 44.68719623 41.10268519 44.21174175 45.41973014 39.55790122
 38.81681754 68.76573427 56.72720806 53.66093226 48.95588857 38.00548801
 70.34607562 60.26921439 56.13038882 35.67809389 33.09383174 41.37772653
 57.5045333  54.35163488 49.23976534 51.0887199  52.21179669 45.61864377
 59.37082201 52.55001444 57.36205213 53.57507753 38.11982403 50.13548549
 31.588117   66.18981661 43.87061265].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.