In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [5]:
df = pd.read_csv('C:/Users/Pratik/DS_ML/My_Space/Linear-Regression/ml-from-scratch-master/02 Linear Regression using Gradient Descent/data.csv')

In [6]:
df.head()

   32.502345269453031  31.70700584656992
0           53.426804          68.777596
1           61.530358          62.562382
2           47.475640          71.546632
3           59.813208          87.230925
4           55.142188          78.211518

In [7]:
X = df.iloc[:,0]
Y = df.iloc[:,1]

In [8]:
n = len(X)
alpha = 0.0001
m=0
c=0
epoch =1000
for i in range(n):
    y_= m*X+c
    Dc = (-1/n)*sum(Y-y_)
    Dm = (-1/n)*sum(X*(Y-y_))
    m = m-alpha*Dm
    c = c-alpha*Dc
print(m,c)

1.4809989973625288 0.03263825534777259